.listCategory {
  list-style-type: none;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.itemCategory {
  display: inline;
  margin-right: 20px;
  font-family: fantasy;
  color: white;
}
